<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>


    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="application.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%C:%L - %m%n" />
        </layout>
    </appender>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">

            <param name="ConversionPattern"
                value="[%d{ISO8601}] %-5p [%c] %m %n" />
            <param name="ConversionPattern" value="%-5p [%c] %m %n" />
        </layout>
    </appender>

    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{ISO8601}] %-5p [%c] %m %n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>


    <logger name="Application" additivity="false">
        <level value="trace" />
        <appender-ref ref="FILE" />
    </logger>


    <root>
        <level value="ERROR" />
        <appender-ref ref="STDERR" />
    </root>


</log4j:configuration>